<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search_users</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header container">
        <div class="header-logo">Жилфонд</div>
        <div class="header-user">Пользователь</div>
    </header>
    <main class="container">
        <section class="sidebar">
            <h1 class="sidebar-title">Поиск сотрудников</h1>
            <input class="sidebar-search" type="search" placeholder="Введите Id или имя ">
            <h2 class="result-title">Результаты</h2>
            <p class="sidepar-search-text">начните поиск</p>
            <p class="sidepar-search-text">ничего не найдено</p>
            <div class="sidebar-cards">
                <div class="sidebar-card">
                    <img src="./img/preview.png" alt="Preview Img">
                    <div class="card-info">
                        <div class="card-title">Bret</div>
                        <div class="card-mail">Sincere@april.biz</div>
                    </div>

                </div>
                <div class="sidebar-card">
                    <img src="./img/preview.png" alt="Preview Img">
                    <div class="card-info active-card">
                        <div class="card-title">Antonette</div>
                        <div class="card-mail">Shanna@melissa.tv</div>
                    </div>

                </div>
            </div>
        </section>
        <section class="main-content">
            <div class="main-content-card">
                <img src="./img/img.png" alt="user card img">
                <div class="main-card-descr">
                    <h2 class="main-content-title">Ervin Howell</h2>
                    <p class="main-content-mail"><span>email:</span> Shanna@melissa.tv</p>
                    <p class="main-content-phone"><span>phone:</span> 010-692-6593 x09125</p>
                    <h3 class="main-content-descr">О себе:</h3>
                    <p class="main-content-descr-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

            </div>

            <h3 class="main-content-text">Выберите сотрудника, чтобы посмотреть его профиль</h3>
        </section>

    </main>
</body>

</html>