* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 26px;
}
.header .header-logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: rgb(227, 31, 36);
}
.header .header-user {
  font-size: 16px;
  line-height: 20px;
  color: rgb(51, 51, 51);
}

main {
  display: flex;
  background: rgb(253, 253, 253);
  min-height: 589px;
  border: 0px, 10px, 10px, 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 22px;
  min-width: 276px;
  margin-left: 20px;
  margin-right: 30px;
  padding-top: 27px;
}
.sidebar .sidebar-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.sidebar .sidebar-search {
  border: 1.5px solid rgb(233, 236, 239);
  border-radius: 8px;
  padding: 16px;
  background: white;
  width: 240px;
}
.sidebar .sidebar-search::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: rgb(118, 120, 125);
}
.sidebar .sidebar-search::placeholder {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: rgb(118, 120, 125);
}
.sidebar .sidebar-search:focus, .sidebar .sidebar-search:active {
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color: rgb(118, 120, 125);
}
.sidebar .result-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.sidebar .sidepar-search-text {
  font-size: 14px;
  line-height: 17px;
  margin-top: -12px;
  color: rgb(118, 120, 125);
}
.sidebar .sidebar-cards .sidebar-card {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 18px;
  border: 1px solid rgb(224, 224, 224);
  overflow: hidden;
}
.sidebar .sidebar-cards .sidebar-card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 15px;
  width: 100%;
  height: 70px;
}
.sidebar .sidebar-cards .sidebar-card .card-info .card-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.sidebar .sidebar-cards .sidebar-card .card-info .card-mail {
  font-size: 14px;
  line-height: 17px;
  color: rgb(118, 120, 125);
}
.sidebar .sidebar-cards .sidebar-card .active-card {
  background: rgb(224, 224, 224);
}

.main-content {
  width: 100%;
  border-left: 1px solid rgb(222, 222, 221);
}
.main-content .main-content-card {
  display: flex;
  padding: 30px;
  gap: 61px;
}
.main-content .main-content-card .main-card-descr .main-content-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.main-content .main-content-card .main-card-descr .main-content-mail,
.main-content .main-content-card .main-card-descr .main-content-phone {
  font-size: 14px;
  line-height: 20px;
  color: rgb(118, 120, 125);
  margin-bottom: 10px;
}
.main-content .main-content-card .main-card-descr .main-content-descr {
  margin-top: 20px;
  margin-bottom: 25px;
}
.main-content .main-content-card .main-card-descr .main-content-descr-text {
  font-size: 14px;
  line-height: 17px;
  color: rgb(118, 120, 125);
}
.main-content .main-content-card .main-card-descr span {
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
.main-content .main-content-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(118, 120, 125);
}/*# sourceMappingURL=style.css.map */